.main-page {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-page .div {
  background-color: #000000;
  overflow: hidden;
  width: 600px;
  height: 800px;
  position: relative;
}

.main-page .overlap {
  position: absolute;
  width: 600px;
  height: 800px;
  top: 0;
  left: 0;
  background-image: url(./img/dall-e-2024-05-28-20-41-38-a-blurred-image-of-a-roman-kingdom.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.main-page .overlap-group {
  position: absolute;
  width: 600px;
  height: 572px;
  top: 98px;
  left: 0;
}

.main-page .coin-icon-webp {
  position: absolute;
  width: 73px;
  height: 68px;
  top: 0;
  left: 143px;
}

.main-page .untitled-design {
  position: absolute;
  width: 81px;
  height: 81px;
  top: 467px;
  left: 492px;
  object-fit: cover;
}

.main-page .text-wrapper {
  position: absolute;
  width: 42px;
  height: 59px;
  top: 1px;
  left: 226px;
  -webkit-text-stroke: 4px #5e3e24;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-2 {
  position: absolute;
  width: 49px;
  height: 24px;
  top: 484px;
  left: 90px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-3 {
  position: absolute;
  width: 50px;
  height: 19px;
  top: 553px;
  left: 42px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-4 {
  position: absolute;
  width: 62px;
  height: 15px;
  top: 552px;
  left: 511px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-5 {
  position: absolute;
  width: 63px;
  height: 20px;
  top: 503px;
  left: 131px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .text-wrapper-6 {
  position: absolute;
  width: 52px;
  height: 12px;
  top: 556px;
  left: 437px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .img {
  position: absolute;
  width: 600px;
  height: 549px;
  top: 20px;
  left: 0;
  object-fit: cover;
}

.main-page .untitled-design-2 {
  position: absolute;
  width: 67px;
  height: 81px;
  top: 474px;
  left: 35px;
  object-fit: cover;
}

.main-page .untitled-design-3 {
  position: absolute;
  width: 96px;
  height: 35px;
  top: 520px;
  left: 111px;
  object-fit: cover;
}

.main-page .untitled-design-4 {
  position: absolute;
  width: 96px;
  height: 41px;
  top: 517px;
  left: 396px;
  object-fit: cover;
}

.main-page .overlap-2 {
  position: absolute;
  width: 572px;
  height: 118px;
  top: 673px;
  left: 17px;
}

.main-page .background {
  position: absolute;
  width: 567px;
  height: 105px;
  top: 0;
  left: 0;
  background-color: #b36323;
  border-radius: 15px;
  border: 1px solid;
  border-color: #000000;
}

.main-page .overlap-group-2 {
  position: absolute;
  width: 427px;
  height: 105px;
  top: 0;
  left: 0;
}

.main-page .element-button-compact {
  display: flex;
  flex-direction: column;
  width: 141px;
  height: 105px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000021;
  border-radius: 8px;
}

.main-page .element {
  position: relative;
  width: 44.86px;
  height: 58px;
  object-fit: cover;
}

.main-page .text-wrapper-7 {
  position: relative;
  width: 56px;
  height: 24px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .element-button-compact-2 {
  width: 141px;
  padding: 0px 16px;
  left: 143px;
  background-color: #00000024;
  display: flex;
  flex-direction: column;
  height: 105px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 0;
  border-radius: 8px;
}

.main-page .element-2 {
  position: relative;
  width: 45.96px;
  height: 58px;
  object-fit: cover;
}

.main-page .text-wrapper-8 {
  position: relative;
  width: 96px;
  height: 24px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .element-button-compact-3 {
  width: 143px;
  padding: 0px 10px 0px 16px;
  left: 284px;
  background-color: #00000021;
  display: flex;
  flex-direction: column;
  height: 105px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 0;
  border-radius: 8px;
}

.main-page .element-3 {
  position: relative;
  width: 60.72px;
  height: 58px;
  object-fit: cover;
}

.main-page .text-wrapper-9 {
  position: relative;
  width: 66px;
  height: 21px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .untitled-design-5 {
  left: 127px;
  position: absolute;
  width: 29px;
  height: 105px;
  top: 0;
  object-fit: cover;
}

.main-page .untitled-design-6 {
  left: 269px;
  position: absolute;
  width: 29px;
  height: 105px;
  top: 0;
  object-fit: cover;
}

.main-page .element-button-compact-4 {
  width: 141px;
  padding: 0px 16px;
  left: 427px;
  background-color: #00000021;
  display: flex;
  flex-direction: column;
  height: 105px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 0;
  border-radius: 8px;
}

.main-page .element-4 {
  position: relative;
  width: 58px;
  height: 58px;
  object-fit: cover;
}

.main-page .text-wrapper-10 {
  position: relative;
  width: 43px;
  height: 22px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .untitled-design-7 {
  left: 414px;
  position: absolute;
  width: 29px;
  height: 105px;
  top: 0;
  object-fit: cover;
}

.main-page .untitled-design-8 {
  position: absolute;
  width: 55px;
  height: 43px;
  top: 75px;
  left: 517px;
  object-fit: cover;
}

.main-page .STEWIE-QUEST {
  position: absolute;
  width: 263px;
  height: 38px;
  top: 34px;
  left: 146px;
}

.main-page .untitled-design-9 {
  position: absolute;
  width: 62px;
  height: 65px;
  top: 16px;
  left: 67px;
  object-fit: cover;
}

.main-page .DALLE {
  position: absolute;
  width: 1138px;
  height: 895px;
  top: 1414px;
  left: -2087px;
  object-fit: cover;
}

.main-page .laen-more {
  display: flex;
  width: 128px;
  height: 37px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: fixed;
  top: 31px;
  left: 433px;
  background-color: #000000;
  border-radius: 8px;
  overflow-x: scroll;
}

.main-page .text-wrapper-11 {
  position: relative;
  width: 109px;
  height: 24px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
